.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.captionDiv{
	background: url('../images/personalPhoto2.jpg')no-repeat center center;
	height: 800px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur {
	-moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.headline {
	color: #FFFFFF;
	font-size: 100px;
	font-weight: 700;
}

.caption{
	position: absolute;
	width: 100%;
	top: 200px;
}

.lead{
	font-family: Helvetica, 'Open Sans', sans-serif !important;
	font-size:40px;
	margin-top: 20px;
	color:#FFFFFF;
}

h2{
	font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	color: rgb(122,156,204);
}

#profileCaption{
	font-weight: 500;
	font-size: 3em;
	margin-top: 30px;
	color: rgb(122,156,204);
}

.profileLead {
	font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 1.5em;
	color: #727878;
}

hr{
	color: #727878;
	margin-left: 100px;
	margin-right: 100px;
}

.selfIntroduction {
	color: #727878;
	font-size: 20px;
	font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

span {
	color: #727878;
}

#profileImg{
	padding-top: 75px;
}